body {
    min-height: 100vh !important;
}

html,
body {
    overflow-x: hidden !important;
}

.arts:nth-child(1) {
    background: linear-gradient(to top, #111827, #00000000), url("./../images/img/pic1.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.arts:nth-child(2) {
    background: linear-gradient(to top, #111827, #00000000), url("./../images/img/pic2.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.arts:nth-child(3) {
    background: linear-gradient(to top, #111827, #00000000), url("./../images/img/pic3.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.arts:nth-child(4) {
    background: linear-gradient(to top, #111827, #00000000), url("./../images/img/pic4.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.arts:nth-child(5) {
    background: linear-gradient(to top, #111827, #00000000), url("./../images/img/pic5.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.arts:nth-child(6) {
    background: linear-gradient(to top, #111827, #00000000), url("./../images/img/pic6.jpg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.arts:nth-child(1) .arts_profile,
.arts:nth-child(2) .arts_profile,
.arts:nth-child(3) .arts_profile {
    background: url("./../images/profile/prof2.svg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.arts:nth-child(4) .arts_profile,
.arts:nth-child(5) .arts_profile,
.arts:nth-child(6) .arts_profile {
    background: url("./../images/profile/prof3.svg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

/* popular arts */

/* mobile menu */
.animate-toggle {
    animation: toggle 300ms 1 cubic-bezier(0.4, 0, 0.6, 1);
}

@keyframes toggle {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* mobile menu */

/* scroll bar */
@media only screen and (max-width: 540px) {
    ::-webkit-scrollbar {
        width: 0;
    }

    ::-webkit-scrollbar-track {
        background: none;
    }

    ::-webkit-scrollbar-thumb {
        background: none;
    }
}

/* scroll bar */