@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-Orbitron {
        font-family: 'Orbitron', sans-serif;
    }

    .text-none {
        color: #00000000
    }

    .text-stroke {
        -webkit-text-stroke: 1px #e2e8f0;
    }

    .m-menu-hidden {
        @apply invisible opacity-0 scale-90 -translate-y-4;
    }

    .m-menu-visible {
        @apply visible opacity-100 scale-100 translate-y-0;
    }
}

@layer components {
    .btn {
        @apply py-3 px-6 rounded-full transition-all;
    }

    .btn-purple {
        @apply bg-purple-800;
    }

    .btn-fuch {
        @apply bg-fuchsia-600;
    }

    .btn-gradient {
        @apply bg-gradient-to-r from-purple-900 to-fuchsia-600
    }

    .btn:hover {
        filter: brightness(1.25);
    }
}